<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Smurfi Plugin</label>
    <label lang="en">Smurfi plugin</label>
    <version>1.0.0</version>
    <copyright>(c) by Smurfi</copyright>
    <license>MIT</license>
    <author>Thomas Böttger</author>
    <compatibility minVersion="5.3.0"/>
    <changelog version="1.0.0">
    <changes lang="de">Erstveröffentlichung</changes>
    <changes lang="en">First release</changes>
    </changelog>
</plugin>